@import url(Main.css);

p {line-height:150%;}

.verse3 P {margin-left:3em; text-indent:2em; font-weight:normal;}
.verse3 P:first-line {color:darkred; font-size:85%; line-height:100%;}

.verse6 P {margin-left:6em; text-indent:2em; font-weight:normal;}
.verse6 P:first-line {color:darkred; font-size:85%; line-height:100%;}

p.verse3 {margin-left:3em; text-indent:2em; font-weight:normal;}
p.verse3:first-line {color:darkred; font-size:85%; line-height:100%;}

p.verse6 {margin-left:6em; text-indent:2em; font-weight:normal;}
p.verse6:first-line {color:darkred; font-size:85%; line-height:100%;}

p.notes {color:darkred;}
p.notes:first-line {font-weight:normal;}

.recitor {font-style:italic;}
.repetition {color:purple;}
.prose {text-indent:3em;}
.BJT {text-align:right; color:#7F9861; font-weight:normal;}
.metre-name {color:purple; letter-spacing:0.2em;}